{% block footer %}
    <footer>
        <div>Murtfeldt Additive <br> Solutions GmbH<br> Gesch채ftsf체hrer:<br> Johannes Matheis</div>
        <div>Jopestr. 14<br>72072 T체bingen<br>Tel.: +49 (0) 7071 13886 0<br> E-Mail: info@murtfeldt-as.de<br> Internet: murtfeldt-as.de</div>
        <div>Kreissparkasse T체bingen<br> BIC: SOLADES1TUB<br> IBAN: DE91 6415 0020 0004 4449 85</div>
        <div>USt.-Id: DE 295239214<br> Registergericht:<br> Stuttgart HRB 748974</div>
    </footer>
{% endblock footer %}