{% block footer %}
<tfoot>
    <td>
        <footer>
            <br><br>
            <a>--</a><br>
            <a>Murtfeldt Additive Solutions GmbH</a><br>
            <a href="www.murtfeldt-as.de">www.murtfeldt-as.de</a><br><br>

            <a>info@murtfeldt-as.de</a><br><br>

            <a>+49 (0) 7071 13886 0</a><br><br>

            <a>Murtfeldt Additive Solutions GmbH | Jopestraße 14 | 72072 Tübingen | Deutschland</a><br>
            <a>Handelsregister HRB 748974 Amtsgericht Stuttgart | Geschäftsführer Johannes Matheis</a>
        </footer>
    </td>
</tfoot>
{% endblock footer %}