{% block content %}
<tbody>
    <td>
        <a>Wir freuen uns über Ihre Anfrage für die Erstellung eines Angebots bei Murtfeldt Additive Solutions.</a><br><br>

        <a>Ihre Angebotsnummer lautet 36539. Ihr angefragtes Angebot finden Sie im Anhang dieser E-Mail.</a><br><br>

        <a>Sollten Sie sich dazu entscheiden, die gewünschten Bauteile zu bestellen, kontaktieren Sie uns bitte mit einer E-Mail an info@murtfeldt-as.de unter Angabe Ihrer Angebotsnummer.</a><br>
        <a>Falls Sie Fragen haben, können Sie uns gerne kontaktieren: info@murtfeldt-as.de.</a><br><br>

        <a>Mit freundlichen Grüßen</a><br>
        <a>Ihr Team von Murtfeldt Additive Solutions</a><br>
    </td>
</tbody>
{% endblock content %}