{% block content %}
<tbody>
    <td>
        <a>vielen Dank für Ihre Bestellung über unser Online Portal.</a><br>
        <a>Ihre Bestellnummer lautet: {{orderId}}</a><br><br>

        <a>Wir prüfen nun Ihre Bestelldaten. Den Status Ihrer Bestellung können Sie unter folgendem Link einsehen:</a><br><br>

        <a href="https://murtfeldt-as.de/track-order?track={{orderId}}&code=8g75j3gs52gs8587af3dbf027d66640f2a3278c3f18427d07ec2b7">https://murtfeldt-as.de/track-order?track={{orderId}}&code=8g75j3gs52gs8587af3dbf027d66640f2a3278c3f18427d07ec2b7</a><br><br>

        <a>Sollten Sie als Bezahlfunktion Banküberweisung gewählt haben, erhalten Sie in Kürze eine E-Mail mit unseren Kontodaten und Bezahlinformationen.</a><br><br>

        <a>Sollte Sie diese E-Mail nicht erreichen bitte melden Sie sich kurz bei uns: info@murtfeldt-as.de.</a><br><br>

        <a>Vielen Dank für Ihr Vertrauen und wir freuen uns über die Zusammenarbeit!</a><br>
        <a>Herzliche Grüße,</a><br>
        <a>Ihr Team von Murtfeldt Additive Solutions</a><br>
    </td>
</tbody>
{% endblock content %}