{% block content %}
<tbody>
    <td>

        <a>Wir freuen uns über Ihre Bestellung bei Murtfeldt Additive Solutions.</a><br><br>

        <a>Sie können Ihre Bauteile ab jetzt bei uns in der Jopestr. 14 in 72072 Tübingen abholen.</a><br>
        <a>Für mehr Informationen oder um den Status Ihrer Bestellung nachzuverfolgen können Sie hier nachsehen:</a><br><br>

        <a href="www.murtfeldt-as.de/track-order?track={{orderId}}&code=8g75j3gs52gs85a860b2ba8280c4a491b5edf1e9218c3f2f85c4ee">www.murtfeldt-as.de/track-order?track={{orderId}}&code=8g75j3gs52gs85a860b2ba8280c4a491b5edf1e9218c3f2f85c4ee</a><br><br>

        <a>Falls Sie Fragen haben, können Sie uns gerne kontaktieren: info@murtfeldt-as.de.</a><br><br>

        <a>Mit freundlichen Grüßen</a><br>
        <a>Ihr Team von Murtfeldt Additive Solutions</a><br>
    </td>
</tbody>
{% endblock content %}