{% block content %}
<tbody>
    <td>
        <a>Der Status Ihrer Bestellung (ID: 37182) bei Murtfeldt Additive Solutions wurde aktualisiert auf: "ready for processing".</a><br>
        <a>Für mehr Informationen oder um den Status Ihrer Bestellung nachzuverfolgen können Sie hier nachsehen:</a><br><br>

        <a>https://www.murtfeldt-as.de/track-order?track=37182&code=8g75j3gs52gs859d7141aaeafc9bbe4d17ea6ee9dafd931f2a4969</a><br><br>

        <a>Mit freundlichen Grüßen
        <a>Falls Sie Fragen haben, können Sie uns gerne kontaktieren, indem Sie hier klicken: https://www.murtfeldt-as.de/kontaktHallo Test Benutzer,</a><br><br>

        <a>Der Status Ihrer Bestellung (ID: 37182) bei Murtfeldt Additive Solutions wurde aktualisiert auf: "ready for processing".</a><br>
        <a>Für mehr Informationen oder um den Status Ihrer Bestellung nachzuverfolgen können Sie hier nachsehen:</a><br><br>

        <a>https://www.murtfeldt-as.de/track-order?track=37182&code=8g75j3gs52gs859d7141aaeafc9bbe4d17ea6ee9dafd931f2a4969</a><br><br>

        <a>Mit freundlichen Grüßen</a><br>
        <a>Ihr Team von Murtfeldt Additive Solutions</a>
    </td>
</tbody>
{% endblock content %}