<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body style="margin: 0; padding: 0; width:100%">
    <table border="1" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
        {% block header %}
        {% endblock header %}

        {% block content %}
        {% endblock content %}
        
        {% block footer %}
        {% endblock footer %} 
    </table>
</body>

</html>