<!DOCTYPE html>
<html>

<head>
    <title></title>
    <style>
        * {margin:0;box-sizing: border-box;font-family: Myriad Pro}    
    </style>
</head>

<body>
    <table>
        {% block header %}
        {% endblock header %}

        {% block content %}
        {% endblock content %}
        
        {% block footer %}
        {% endblock footer %} 
    </table>
</body>

</html>