<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <table>
        {% block header %}
        {% endblock header %}

        {% block content %}
        {% endblock content %}
        
        {% block footer %}
        {% endblock footer %} 
    </table>
</body>

</html>