<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body style="margin: 0; padding: 0; width:100%">
    <table border="1" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
        <thead>
            <td>
                {% block header %}
                {% endblock header %}
            </td>
        </thead>
        <tbody>
            <td>
                {% block content %}
                {% endblock content %}
            </td>
        </tbody>
        
        <tfoot>
            <td>
                {% block footer %}
                {% endblock footer %}
            </td>
        </tfoot>
    </table>
</body>

</html>