{% block content %}
<tbody>
    <td>
    <p>Wago Vorkasse: Hier Bankdaten von Wago</p>
        <table>
            {% for item in items %}
            <tr>
                <td>{{item.costs}} prepaid</td>
            </tr>
            {% endfor %}
        </table>
    </td>
</tbody>
{% endblock content %}