<!DOCTYPE html>
<html>

<head>
    <title></title>
    <style>
        .header-information { display: flex; width:85vw; margin-left: 7.5vw; justify-content: space-between}
        .murtfeldt-information {color: red, flex: 1}
        .murtfeldt-address { border-bottom: 1px solid black; font-size: smaller; margin-bottom: 4em}
        .logo{ height: 7vh; float: right; margin-bottom: 4em; margin-top: 1.5em}
    </style>
</head>

<body>
    <table>
        <thead>
            <td>
                {% block header %}
                {% endblock header %}
            </td>
        </thead>
        <tbody>
            <td>
                {% block content %}
                {% endblock content %}
            </td>
        </tbody>
        
        <tfoot>
            <td>
                {% block footer %}
                {% endblock footer %}
            </td>
        </tfoot>
    </table>
</body>

</html>