<!DOCTYPE html>
<html>

<head>
    <title></title>
    <style>
        * {margin:0;box-sizing: border-box;}
        .header-information { display: flex; width:85vw; margin-left: 7.5vw; justify-content: space-between}
        .murtfeldt-information {color: red, flex: 1}
        .murtfeldt-address { border-bottom: 1px solid black; font-size: smaller; margin-bottom: 4em}
        .problem-information {display:flex; width:85vw; margin-left: 7.5vw; margin-top: 2vh}
        .problem-information div {flex-grow: 1}
        .logo{ height: 7vh; float: right; margin-bottom: 4em; margin-top: 1.5em; margin-right: 1em}
        footer { display: flex; width:85vw; margin-left: 7.5vw; border-top: 1px solid black; padding-top: 2em;}
        footer div {font-size:smaller; flex-grow: 1}
        .main-content {width: 80vw; margin-left: 10vw; padding-top: 1em; min-height: 40vh}
        .item-container-wrapper h2 {padding-bottom: 2vh; border-bottom: 1px solid black; margin-bottom: 1vh}
        .item-container {display: flex; border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; font-size:small}
        .item-container div {padding: 5px; border-left: 1px solid black}
        .billing-finish-container {margin-top:2vh; border-top: 1px solid black}
    </style>
</head>

<body>
    <table>
        <thead>
            <td>
                {% block header %}
                {% endblock header %}
            </td>
        </thead>
        <tbody>
            <td>
                {% block content %}
                {% endblock content %}
            </td>
        </tbody>
        
        <tfoot>
            <td>
                {% block footer %}
                {% endblock footer %}
            </td>
        </tfoot>
    </table>
</body>

</html>